.header{
    background-color: rgb(195, 194, 194);
    height: 40px;
}
.form-group{
    display: flex;
    justify-content:flex-end;
    
}
label{
   margin-top:8px;
   margin-right: 30px;
   justify-content: flex-start;
}
.form-control{
    width: 70%;
}
.table{
    border: 1px solid gray;
}
.col{
    border: 1px solid gray;
    margin: 5px 5px;
    height: 35vh;
}